src/main/mule/test-starwars-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<flow name="test-starwars-sapiFlow" doc:id="d22af778-5c23-4d8c-95e4-b4e2cb5fd850" >
		<http:listener doc:name="Listener" doc:id="64a16bd6-650c-49d2-bbad-93520fa1dc5b" config-ref="HTTP_Listener_config" path="/api/*">
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" />
		</http:listener>
		<apikit:router doc:name="APIkit Router" doc:id="e4666b41-b78d-47e0-a178-36b4549cff83" config-ref="router-config"/>
	</flow>
	<flow name="get:\people:router-config" doc:id="1516f810-71ec-4b22-a3d6-eb460de701ff" >
		<set-variable value="1" doc:name="Set page" doc:id="d7e6045c-22f6-4447-a486-749aca275c4a" variableName="page"/>
		<set-variable value="#[output application/json&#10;---&#10;[]]" doc:name="Set people" doc:id="81251aa2-79d8-4404-b8b6-1cf20c3ca2cf" variableName="people"/>
		<set-variable value="#[attributes.queryParams.'gender' default &quot;&quot;]" doc:name="Set gender" doc:id="b2955242-72a8-453e-baef-1708866b5d24" variableName="gender"/>
		<ee:cache doc:name="Cache" doc:id="f2e2fef4-e36a-4b5a-b7a2-cc638a4d89c6" cachingStrategy-ref="Caching_Strategy">
			<flow-ref doc:name="implementationFlow" doc:id="4dcb64e4-a4bc-4276-bb24-8926f4fa86e7" name="implementationFlow" />
		</ee:cache>
	</flow>
</mule>
